@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeVue Theme Overrides */
:root,
[data-pc-name="root"],
.p-component {
  --p-primary: #FF555D;
  --p-primary-500: #FF555D;
  --p-secondary: #074667;
  --p-accent: #F0DE7D;
  --p-info: #2A93D1;

  --p-primary-100: #ffe5e7;
  --p-primary-200: #ffb3b8;
  --p-primary-700: #cc444b;
}




/* Body style */
body {
  @apply font-cairo bg-gray-50 text-gray-900;
}
